
.hrFranja {
    height: 20px;
    background-color: chocolate;
    margin-top: 0%;
}

.hrFranja2 {
    height: 20px;
    background-color: black;
    margin-top: 1%;
}

nav{
    font-family: fantasy;
}
